.gamepage{
    padding-top: 198px;

    ul{ 
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        //grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
    }
}


.game-card{
    border-radius: 10px;
    background-color: $color_background_2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    .reflect{
        background-color: white;
        height: 200%;
        width: 45%;
        position: absolute;
        left: -5%;
        transform: rotate(20deg);
        opacity: 0.1;

    }
}