.page{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    position: relative;
    overflow: hidden;

    section{
        padding-top: 198px;
    }

    .sous-paraph{
        max-width: 700px;
    }
    

    .container-page{
        flex-basis: 75%;
        padding: 100px;
        position: relative;
        overflow: hidden;
    }

    .container-world{
        flex-basis: 25%;
        position: relative;
        flex-shrink: 0;
    }
}