.page{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    position: relative;
    overflow: hidden;

    section{
        padding-top: 198px;
    }

    .sous-paraph{
        max-width: 700px;
    }
    

    .container-page{
        flex-basis: 100%;
        padding: 100px;
        position: relative;
        overflow: hidden;
        margin-left: 465px;
        min-height: 110vh;
    }

    .container-world{
        width: 465px;
        position: absolute;
        flex-shrink: 0;
        height: 100%;
    }
}


@media screen and (max-width:1130px) {
    .page{
        .container-world{
            width: 100%;
            z-index: 5;
        }

        .container-page{
            margin-left: 0;
            padding: 50px;
        }
    }
        
}